.header {
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
}

.input {
  outline: none;
}

.listContainer {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
